* {
  font-family: roboto;
}

body, ul, li {
  padding: 0;
  margin: 0;
}

header {
  height: 700px;
  background-image: url("img/service_drone.jpg");  
  background-position: left;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  color: rgba(241, 106, 60, 1);
  text-decoration: none;
}

h2 {
  color: rgba(241, 106, 60, 1);
  font-size: 24px;
}

p {
  font-size: 18px;
}

footer {
  color: white;
}

.bolt {
  background-color: rgba(241, 106, 60, 0.4);
  border-radius: 5px 0 0 5px;
}

.important {
  color: rgba(241, 106, 60, 1);
  font-size: 24px;
}

.headerTop {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerTop img {
  width: 100px;
}

.headerTop img a{
  width: 10%;
}



.navigation {
  margin-top: 10px;
  width: 50%;
}

.accountCart{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  padding-top: 20px;
}

.menu > ul {
  display: flex;
  justify-content: space-between;
}

.menu > ul > li {
  display: inline-block;
}

.menu ul li a {
  font-size: 18px;
  font-weight: bold;
  color: rgba(241, 106, 60, 1);
}

.scrollMenu {
  display: none;
  text-align: center;
}

.menu ul li:hover ul {
  display: block;
}

.scrollMenu li {
  padding: 10px 0;
}

.scrollMenu li:hover {
  background-color: rgba(241, 106, 60, 0.15);
  border-radius: 5px; 
}

.accountHover:hover .connectAccount{
  display: block;
}

.connectAccount {
  display: none;
  width: 15%;
  padding: 20px;
  text-align: center;
  position: absolute;
  right: 0;
  border-radius: 5px;
  background-color: white;
}

.connectAccount > a {
  color: rgba(241, 106, 60, 1);
}

.connexionForm {
  background-color: rgba(196, 196, 196, 1);
}

.connexionButton {
  margin: 10px 0;
}

.connexionButton input {
  width: 100%;
  font-size: 24px;
}

.submitConnexion {
  width: 70%;
  height: 40px;
}

.elementConnexion {
  margin: 10px 0;
}

.headerBottom {
  height: 480px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerBottom div {
  width: 30%;
}

.searchBar {
  background-color: rgba(196, 196, 196, 1);
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 5px;
}
  
  .guarantees {
    background-color: rgba(247, 244, 243, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  
  .guarantees div {
    width: 30%;
    padding: 30px;
  }
  
  .guarantees div p {
    font-size: 24px;
    margin-top: 0;
    color: rgba(33, 156, 154, 1);
  }
  
  .guarantees div img {
    height: 75px;
  }
  
  .makingOf {
    display: flex;
    height: 470px;
    display: flex;
    justify-content: space-around;
  }
  
  .makingOf > div {
    width: 30%;
    display: flex;
    align-items: center;
  }
  
  .makingOf img {
    width: 30%;
  }
  
  .ourProducts {
    text-align: center;
    background-color: rgba(247, 244, 243, 1);
  }
  
  .ourProducts > h2 {
    margin-top: 0;
    font-size: 48px;
  }
  
  .ourProducts > div {
    display: flex;
    justify-content: space-around;
  }
  
  .product {
    width: 30%;
  }
  
  .product p {
    padding: 20px 0;
  }
  .product img {
    width: 100%;
    border-radius: 5px;
  }
  
  .imageProduct {
    position: relative;
  }
  
  .discover {
    width: 25%;
    height: 30px;
    background-color: rgba(241, 106, 60, 1);
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 4px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .discover a {
    color: white;
  }

  .text-end{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;

  }
  
  .footerTop {
    background-color: rgba(241, 106, 60, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footerBottom {
    background-color: rgba(241, 106, 60, 1);
  }
  
  .newsletter, .socialNetworks {
    width: 40%;
  }
  
  .socialNetworks {
    padding: 50px 0;
    text-align: center;
  }
  
  .socialNetworks img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 20px;
  }
  
  .textNewsletter {
    text-align: center;
  }
  
  .newsletterMail {
    width: 80%;
    height: 38px;
    border: none;
    border-radius: 5px;
  }
  
  .button {
    width: 20%;
    border: none;
    border-radius: 5px;
  }
  
  .newsletterSubmit {
    height: 40px;
    width: 80px;
  }
  
  .footerBottomFirstPart {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footerBottomFirstPart > div {
    width: 20%;
  }
  
  .payPlug img {
    width: 100%;
  }
  
  .footerList {
    padding: 50px 0;
    font-size: 24px;
  }
  
  .footerList li {
    margin: 30px;
  }
  
  .footerList a {
    color: white;
  }
  
  .footerBottomSecondPart {
    text-align: center;
    padding-bottom: 15px;
  }
  .main-conditions{
    margin: 2%;
    padding: 1rem;
  }